/**
* Puede editar todo este archivo.
*/
:root {
  --gray-0: #000000;
  --gray-1: #222222;
  --gray-2: #dddddd;
  --gray-3: #fbfbfb;
  --gray-4: #ffffff;
  --primary: #8a2be2;
  --secondary: #20d397;
  --font-size-1: 1.5rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1rem;
  --font-weight-thin: 300;
  --font-weight-bold: 600;
  --font-weight-heavy: 800;
  --spacer-1: .25rem;
  --spacer-2: .5rem;
  --spacer-3: 1rem;
  --spacer-4: 1.5rem;
  --spacer-5: 2rem;
  --shadows: 7px 7px 7px rgba(0, 0, 0, .15);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}


html {
  font-size: 16px;
  line-height: 1.44;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

/* estilos generales*/

.container{
  width: 80%;
  margin: 0 auto;
  max-width: 1440px;
}

/* header */
header{
  background:var(--secondary);
  padding: 0.6rem 0;
}
 header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo{
  font-size: 1.5em;
  color: var(--gray-4);
}

header .logo img{
  width: 2.5rem;
  vertical-align: middle;
}


header ul{
  display: flex;
  gap: 1rem;
}
header ul li {
  gap: 25rem;
}


header ul li a{
  padding: 0.2rem;  
  color: var(--gray-4);
  
}

/* cajas */

.cajas{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
 
.cajas article h2,
.cajas article p{
  margin-bottom: 1rem;
}
.cajas article{
  border: 1px solid var(--gray-2);
  padding: 1rem;
  box-shadow: var(--shadows);
  /* truco*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.cajas article a{
  display: block;
  background-color: var(--primary);
  color: var(--gray-4);
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 0;

}

.cajas article a img{
  width: 1.2rem;
  vertical-align: middle;
}

/* responsicive */
@media screen and (max-width: 768px) {
  .container{
    width: 90%;
  }
 .cajas{
  grid-template-columns: 1fr;
 }  
}
